.input {
    width:100%;
    height:100%;
    grid-column: 2;
    grid-row: 2;
    vertical-align: middle;
    overflow:hidden;
}

.textarea {
    width : 50%;
    height : 50%;
    margin-top: 30px;
    float:left;
    margin-left: 80px;
    padding:10px;
    vertical-align: middle;
}

.textarea > textarea {
    width : 100%;
    height : 100%;
    resize:none;
}

.password{
    width: 100px;
}


.submit {
    width : 30%;
    height : 70%;
    margin-top: 70px;
    vertical-align: middle;
    float:left;
}