.list {
    grid-column: 2;
    grid-row: 3;
}

.showbox > li{
    list-style-type:none;
}

.showbox > li > button {
    float:right;
    color: #fff;
    background-color: #6c757d;
    border-radius: 5px;
    font-size: 13px;
}

